.customNav {
    background-color: rgb(255, 252, 234);
    padding: 20px 10px;
}

.customNav a {
    color: rgb(62, 62, 62) !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.heroBackground {
    background-image: url(../images/CoverPhotoApp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
}

.heroContent h1 {
    color: rgb(47, 47, 47);
    text-align: center;
    font-size: 48px;
}

.contentSection {
    padding-top: 100px;
    padding-bottom: 100px;
}

.heading {
    color: rgb(252, 174, 29);
    margin-bottom: 40px;
}

.sectionHeading {
    background-color: rgb(252, 174, 29);
    text-align: center;
    color: white;
    padding: 50px 0;
    font-weight: 40em;
    font-size: 4em;
}

.affinityDiagram {
    width: 100%;
}