nav {
    background-color: rgb(255, 255, 255);
    height: 50px;
  }

.menu-item {
    display: inline-block;
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(249, 212, 212);
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

.sidebar {
    width: 20%;
    background-color: rgb(252, 247, 206);
    float: left;
    height: 800px;
}

.main-content {
    width: 70%;
    height: 800px;
    float: left;
    background-color: rgb(255, 228, 228);
}

.pet-name {
    text-align: center;
}

.pet-name img {
    width: 350px;
}

.pet-content {
    padding:20px;
}

.pet-content img{
    float: left;
    margin-right: 20px;
    width: 250px;
}